body{
    background-color: rgb(177, 221, 238);
}
.head{
    text-align: center;
    font-size:  40px;
    font-weight: bolder;
    color: white;
}
.center{
    text-align: center;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: 15px;
}