
.w5-animation:hover {
    transition: 3s;
    transform: rotate(135deg);
    cursor: pointer;
  }
  
  .w5-animation {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 47%;
    top: 20%;       
    background-image: linear-gradient(to left, #a6ffff, #4040ff);
    transition: 3s;
    animation: mymove 3s;
    transform: rotate(45deg);
    box-shadow: 3px 3px 15px rgba(213, 61, 201, 0.4);
  }
  
  @keyframes mymove{
    0%{
      opacity: 0;
      transform: rotate(0deg);
        
    }
    100%{
      opacity: 1;
      transform: rotate(223deg);
    }
    
  }
  
  .top-animation {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 10%;
  }
  
  .top-animation p {
    color: #fff;
    font-weight: lighter;
    font-size: 25px;
    letter-spacing: 2px;
    font-family:  "Comic Sans MS", cursive, sans-serif;
    animation: textmove 3s;
    
  }
  
  
  .w9-triangle {
    width: 0px;
    height: 0px;
    border: 90px solid #007dff;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 80%;
    transform: rotate(140deg);
    background-image: linear-gradient(to left, #b20026, #ff5900);
    animation: Intelmove 3s;
    transition: 1s;
  }
  
  .w12-triangle {
    width: 0px;
    height: 0px;
    border: 90px solid #007dff;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 1%;
    transform: rotate(80deg);
    animation: Intelmove 3s;
    transition: 1s;
  }
  
  .w15-triangle {
    width: 0px;
    height: 0px;
    border: 90px solid #4cd9ff;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
      position: absolute;
    transform: translate(-50%, -50%);
    top: 63%;
    left: 85%;
    transform: rotate(220deg);
    animation: Intelmove 3s;
    transition: 1s;
  }
  
  .text-centered-fluid {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 19%;
    top: 55%;
    color: white;
    font-family: verdana;
    font-weight: lighter;
    font-size: 33px;
    letter-spacing: 7px;
    text-shadow: 3px 3px 35px rgba(39, 233, 247, 0.7);
    animation: Intelmove 3s;
    transition: 1s;
  }
  
  @keyframes Intelmove {
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  
  @media(max-width: 767px) {
    
    .w9-triangle {
      display: none;
    }
    
    .w12-triangle {
      display: none;
    }
    
    .w15-triangle {
      display: none;
    }
    
    .text-centered-fluid {
      display: none;
    }
  }
  
  .text-centered-fluid:hover {
    font-size: 40px;
    transition: 1s;
  }
  
  @media(max-width: 767px) {
    .text-centered-fluid {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      display: flex;
    }
  }
  
  .loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 15px solid transparent;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 0%;
    top: 10%;
    border-top: 15px solid #00c2ff;
    border-bottom: 15px solid #00c2ff;
    animation: 3s myRotate linear infinite;
  }
  .loader p{
    text-align: center;
    font-size: 15px;
    padding-top: 1%;
    color: #00ccff;
    margin-left: -8px;
  }
  
  @keyframes myRotate {
    0% {
      transform: rotate(0deg);
    }
    
    100%{
      transform: rotate(360deg);
    }
  }
  
  