@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
}

:root {
    --primaryTextColor: #eee;
    --secondaryTextColor: #06B3A7;
    --firstBackgroundColor: #000000;
    --secondBackgroundColor: #1d1c1cee;
    --hoverColor: #474e50;
    /* Hide Scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}
:root::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

/* Placeholders Text Color */

::placeholder {
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

::-ms-input-placeholder {
    color: #999;
}

ul,
ol {
    list-style: none;
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1.1rem;
}

button {
    background: transparent;
    border: none;
}

button i {
    font-size: 2rem;
}

.btn {
    margin-top: 100px;
    font-size: 1.3rem;
    background-color: var(--secondaryTextColor);
    width: 200px;
    height: 70px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: var(--primaryTextColor);
    transition: 0.4s;
}

.btn::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--hoverColor);
    width: 0%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    transition: 0.3s;
}

.btn:hover::after {
    width: 100%;
}

.btn:hover {
    color: #020202;
}

body {
    line-height: 2;
    color: var(--primaryTextColor);
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(6deg, #131010de, #161414d2),
        url("images/AI.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/* Navbar */

nav {
    display: flex;
    padding: 0 55%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--secondBackgroundColor);
}

nav button {
    color: var(--firstTextColor);
    display: none;
}

nav button:active {
    color: var(--hoverColor);
}

nav ul {
    display: flex;
    gap: 2rem;
    transition: 0.5s;
}

.nav-links a {
    color: var(--firstTextColor);
    font-size: 1.2rem;
}

.nav-links a:hover {
    color: var(--secondaryTextColor);
}

/* Home page */

.home-content .home-text {
    line-height: 1.2;
    position: absolute;
    left: 10%;
    top: 30%;
    z-index: 1;
}

.coloredText {
    color: var(--secondaryTextColor);
}

.home-content figure {
    min-width: 500px;
    width: 40%;
    position: absolute;
    right: 5%;
    bottom: 0;
}

.home-content figure img {
    width: 100%;

    opacity: 0.6;
    display: block;
}

.scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation-name: scrolling;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.scroll i {
    font-size: 3rem;
}

@keyframes scrolling {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: none;
    }
}

/* Defualt styles for all pages */

main .page {
    min-height: 100vh;
    width: 100%;
    background-color: var(--firstBackgroundColor);
    position: relative;
}

.page:nth-child(2n) {
    background-color: var(--secondBackgroundColor);
}

.page .container {
    width: 70%;
    margin: 0 auto;
    padding: 110px 0;
}

.container > h3 {
    display: table;
    width: fit-content;
    margin-bottom: 5rem;
    border-bottom: var(--secondaryTextColor) 1px solid;
    text-transform: uppercase;
}

/* Page 1 */

#page-1 .aboutMe {
    display: flex;
    gap: 4em;
}

.aboutMe figure {
    flex-basis: 40%;
    height: fit-content;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

#page-1 img {
    width: 100%;
    height: 350px;
    display: block;
    border:3px solid#08a4d3;
    border-radius: 100%;
}

#page-1 .downloadCV {
    display: flex;
}

#page-1 .downloadCV span {
    display: block;
    margin: auto;
}

.aboutMe h4 {
    color: #fff;
    font-size: 1.6rem;
    padding-bottom: 2rem;
}

.aboutMe article {
    flex-basis: 60%;
    color: #ddd;
}

/* Page 2 */

#page-2 .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.services li {
    min-height: 150px;
    background-color: var(--firstBackgroundColor);
    padding: 2 rem;
    flex-basis: 45%;
    display: flex;
    gap: 5rem;
    border-radius: 5px;
}

.services i {
    font-size: 1rem;
    padding: 1rem;
    margin: 0 1rem 1rem 0;
    height: fit-content;
    border-radius: 2px;
    background-color:#2196F3;
}

.services h4 {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 70px;
    margin-top: 50px;
    color: #fff;
}

.services p {
    color: #bbb;
    text-align: center;
}
.skills{
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
}
.line{
    width: 100%; /* Full width */
    background-color: rgb(0, 0, 0); /* Grey background */
    padding-top: 9%;
    border:#06B3A7;
    line-height: 100%;
    
}
.python{
    width: 95%; background-color: #2196F3;
} /* Blue */
.Ai{
    width: 85%; background-color: #2196F3;
}
.Html{
    width: 90%; background-color: #2196F3;
}
.c{
    width: 50%; background-color: #2196F3;
}
.sql{
    width: 80%; background-color: #2196F3;
}
.flutter{
    width: 30%; background-color: #2196F3;
}
/* Page 3 */

#page-3 ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

#page-3 .project {
    width: 21vw;
    height: 28vw;
}

.project .project_Image {
    height: 75%;
    overflow: hidden;
    position: relative;
}

#page-3 img {
    width: 100%;
    height: 80%;
}

.project_Image .project-links {
    position: absolute;
    left: 0;
    top: 10%;
    bottom: 10%;
    width: 100%;
    height: 60%;
    background-color: #3e4242b7;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transform: translateX(-110%);
}

.project:hover .project-links {
    transform: none;
}

.project-links a {
    position: relative;
    width: 150px;
    height: 70px;
    text-align: center;
    font-size: 50px;
    background-color:#06B3A7;
    color: #eedfdf;
    margin: 2px;
    font-size: 1.3rem;
}

.project-links a:hover {
    color: var(--primaryTextColor);
}

.project-links a > i {
    position: absolute;
    color:whitesmoke;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.project h4 {
    padding: 1rem 0;
    font-size: 1.4rem;
}

/* Page 4 */

#page-4 {
    min-height: 0;
    padding-bottom: 100px;
}

#page-4 .contact {
    display: flex;
    flex-wrap: nowrap;
}

.contact form {
    flex-basis: 60%;
}

.contact form > .row {
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
}

.row input,
.row textarea {
    font-size: 1.1rem;
    padding: 1rem;
    background: transparent;
    border: #08a4d3 1px solid;
    border-radius: 5px;
    flex-grow: 1;
    outline: none;
    color: var(--primaryTextColor);
    resize: vertical;
}

.contact h4 {
    font-size: 1.5rem;
}
.contact > div {
    margin-left: 2rem;
}

.contactInfo li {
    margin-top: 1rem;
}

.contactInfo i {
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
    color: var(--hoverColor);
}

.contactInfo span {
    margin-left: 1rem;
    font-size: 1.2rem;
}
/* Page 5 */
#page-5{
    padding-top: 350px;
    text-align: center;
}

/* page 6 */

#page-6{
    background-image: url('/images/workonprogress.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Footer */

footer {
    background-color: #141414;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-medias {
    display: flex;
    gap: 2rem;
    width: 20px;
}

.social-medias img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--primaryTextColor);
    width: 50px;
    height: 50px;
    gap:2rem;
    border-radius: 25px;
    transition: 0.5s;
}

.social-medias a:hover {
    background-color: var(--secondBackgroundColor);
    border-radius:100px;
}

.copyright p {
    font-size: 1.3rem;
    margin-left: 30px;
}

@media only screen and (max-width: 1300px) {
    .page .container {
        width: 90%;
    }
    #page-3 .project {
        width: 33vw;
        height: 44vw;
    }
    #page-4 .contact {
        flex-direction: column-reverse;
    }
    .contact > div {
        margin-left: 0;
    }
    .contactInfo {
        margin-bottom: 2rem;
        width: 100%;
    }

    .contactInfo li {
        display: inline-block;
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 4rem;
    }

    h3 {
        font-size: 1.4rem;
    }
    nav {
        height: 70px;
    }

    nav button {
        display: inline-block;
    }

    nav ul {
        position: fixed;
        left: 0;
        top: 0;
        flex-direction: column;
        padding: 10% 5%;
        background-color: #111;
        width: 50%;
        height: 100%;
        gap: 1rem;
    }

    .hideNavbar {
        transform: translateX(-100vw);
    }

    .cover {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        transition: 0.5s;
        opacity: 0.5;
        z-index: 100;
    }

    .hidenCover {
        opacity: 0;
        visibility: hidden;
    }

    #page-1 .aboutMe {
        flex-direction: column;
    }

    .aboutMe figure {
        min-width: 200px;
        width: 70%;
    }
    .services li {
        flex-basis: 47%;
    }
    #page-3 .project {
        width: 36vw;
        height: 48vw;
    }

    .project h4 {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.3rem;
    }
    p {
        font-size: 1rem;
    }
    .btn {
        margin-top: 50px;
    }
    nav ul {
        width: 70%;
    }
    .nav-links a {
        font-size: 1rem;
    }
    .services li {
        flex-basis: 80%;
    }
    #page-3 .project {
        width: 60vw;
        height: 80vw;
    }
    .contactInfo li {
        display: block;
    }
    .contact form > .row {
        flex-direction: column;
    }

    .contact form .btn {
        align-self: center;
    }

    footer {
        height: 150px;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1rem;
    }
    p {
        font-size: 0.8rem;
    }
    .home-content figure img {
        display: none;
    }
    .services li {
        flex-basis: 100%;
    }
    .services h4 {
        font-size: 1.3rem;
    }

    #page-3 .project {
        width: 75vw;
        height: 100vw;
    }

    .project h4 {
        font-size: 1em;
    }

    .contactInfo span {
        font-size: 1.1rem;
    }

    footer .social-medias {
        gap: 0;
    }
}
